@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.groupsList {
  

  .facepilePersona{
    display:inline-block
  }

  .editUsersLink {
    margin: 10px 0;
    color: "[theme: themePrimary, default: #EA35A0]";
  }
}