.spUserPersona{
    .persona {
        margin-bottom: 2px;
        .secondaryTextColor {
            color: inherit !important;
        }
    }

    .deleteIcon {
        cursor: pointer;
        font-size: 100%;
        display: block;
        float: left;
    }
}

