.editableSpPersona{
    max-width: 100%;
    width:100%;
    height:100%;
    padding: 2px;
    &:hover{
        transition: 100ms;
        border-width: 1px;
        border-style: solid;
        border-color: "[theme: themePrimary, default: #EA35A0]";
        cursor: pointer;

        .editIcon{
            display:initial;
            float:left;
            color: "[theme: themePrimary, default: #EA35A0]";
        }
    }
    .persona {
        float:left;
    }
    .editIcon {
        display: none;
    }
}