.editableTextField{
    max-width: 100%;
    width:100%;
    height:100%;
    padding: 2px;
    &:hover{
        transition: 100ms;
        cursor: pointer;

        .text{
            text-decoration: underline;
            color: "[theme: themePrimary, default: #EA35A0]";

            .editIcon{
            transition: 100ms;
            display:initial;
            float:left;
            color: "[theme: themePrimary, default: #EA35A0]";
        }
        }
    }
    

    .text{
        float:left;
        margin: 10px 0;

        .editIcon {
            display: none;
        }
    }
}